/* Global reset for margins, padding, borders */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'Courier New', monospace;
    user-select: none;
}

/*buttons*/
.button-blue {
    background-color: var(--usertextbubble);
    cursor: pointer;
    border-radius: 15px;
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 14px;
    transition: 0.2s ease-in-out;
    text-decoration: none; /* Removes the underline */
    color: var(--darkgrey);
    display: inline-block; /* Ensures it behaves like a button */
}

/*imageproject*/
.imageproject {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
}

.item-desc {
    min-height: 100px;
}

.item-desc h2 {
    margin: 10px 0 10px 0;
}

.item-desc p {
    text-align: justify;
}

.buttonlink {
    margin: 10px 0 10px 0;
    height: auto;
}


.button-blue:hover {
    background-color: #4ab4b8;
}

:root {
    --darkgrey: #181818;
    --mediumgrey: #2d2d2d;
    --customwhite: #F7F7F7;
    --kibatextbubble: #2d2d2d;
    --usertextbubble: #5ce1e6;
    --scrollbarthumb: #2d2d2d;
}


.icon {
    display:contents;
}

body {
    background-color: var(--darkgrey);
    width: 100%;
}

.linkedin-icon svg {
    transition: fill 0.2s ease-in-out;
}

.linkedin-icon:hover svg {
    fill: #cfcfcf; /* LinkedIn blue */
}

.github-icon svg {
    transition: fill 0.2s ease-in-out;
}

.github-icon:hover svg {
    fill: #cfcfcf; /* LinkedIn blue */
}

.nav {
    height: 30px;
    display: flex;
    background-color: var(--mediumgrey);
    flex-direction: row;
    align-items: center;
    padding: 10px;
    color: var(--customwhite)
}

.rightnavbar {
    width: 25%;
    text-align: right;
    
}

.leftnavbar {
    width: 25%;
}

.middlenavbar {
    width: 50%;
    text-align: center;
}

.title {
    padding: 100px;
    padding-bottom: 50px !important;
    color: var(--customwhite);
    text-align: center;
}

.namename {
    letter-spacing: 10px;
}

.top {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    gap: 10px;
}

.item-top {
    background-color: var(--usertextbubble);
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 14px;
}

.item-top p {
    padding-top: 20px;
    text-align: justify;
}



/*MIDDLE PART*/
.gridder {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically (if needed) */
    width: 100%;
}


.grid-box {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: auto auto;
    gap: 10px 10px;
}

.item {
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 14px;
    background-color: var(--mediumgrey);
    color: var(--customwhite);
}


/*scrollbar*/
/* Initially hide the scrollbar thumb */
body::-webkit-scrollbar-thumb {
    background-color: transparent; /* Make the thumb invisible initially */
    border-radius: 4px;
}

/* Show the scrollbar thumb on hover */
body:hover::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarthumb); /* Thumb color */
}

/* Custom scrollbar track */
body::-webkit-scrollbar {
    width: 8px; /* Scrollbar width */
}

.text-box::-webkit-scrollbar-track {    
    background-color: var(--darkgrey); /* Scrollbar track color */
}

/* Add a pseudo-element for the scrollbar to float above content */
body::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 8px; /* Scrollbar width */
    height: 100%;
    background-color: transparent;
    z-index: 10; /* Make sure it floats above the content */
}

@media (max-width: 600px) {
    body {
        overflow-x: hidden; 
    }


    .top {
        grid-template-columns: 300px;
        align-items: center;
        width: calc(100% - 20px); 
        margin: 10px auto; 
    }

    .grid-box {
        grid-template-columns: 300px;
    }

    .item {
        height: auto;
    }

    .lefttop, .righttop {
        width: 90%; 
        max-width: 90vw; 
    }
}
